{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Use these REST APIs for performing operations on who is going to receive notifications associated with your Azure API Management deployment.",
        "title": "ApiManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimnotifications.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "apimanagement-apimnotifications",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications": {
            "get": {
                "description": "Lists a collection of properties defined within a service instance.",
                "operationId": "Notification_ListByService",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "Number of records to skip.",
                        "in": "query",
                        "name": "$skip",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Collection of the Notification for the specified API Management service instance.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Paged Notification list representation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Next page link if any.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Page values.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The Resource definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type for API Management resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Notification details.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Notification entity contract properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "description": {
                                                                "description": "Description of the Notification.",
                                                                "type": "string"
                                                            },
                                                            "recipients": {
                                                                "description": "Recipient Parameter values.",
                                                                "properties": {
                                                                    "emails": {
                                                                        "description": "List of Emails subscribed for the notification.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "users": {
                                                                        "description": "List of Users subscribed for the notification.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "title": {
                                                                "description": "Title of the Notification.",
                                                                "maxLength": 1000,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "title"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notification"
                ],
                "x-ms-examples": {
                    "ApiManagementListNotifications": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage",
                                            "name": "RequestPublisherNotificationMessage",
                                            "properties": {
                                                "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                                "recipients": {
                                                    "emails": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com",
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar!live",
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com"
                                                    ],
                                                    "users": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                                                    ]
                                                },
                                                "title": "Subscription requests (requiring approval)"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/PurchasePublisherNotificationMessage",
                                            "name": "PurchasePublisherNotificationMessage",
                                            "properties": {
                                                "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                                "recipients": {
                                                    "emails": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com"
                                                    ],
                                                    "users": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                                                    ]
                                                },
                                                "title": "New subscriptions"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/NewApplicationNotificationMessage",
                                            "name": "NewApplicationNotificationMessage",
                                            "properties": {
                                                "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                                "recipients": {
                                                    "emails": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com"
                                                    ],
                                                    "users": []
                                                },
                                                "title": "Application gallery requests"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/BCC",
                                            "name": "BCC",
                                            "properties": {
                                                "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                                "recipients": {
                                                    "emails": [],
                                                    "users": []
                                                },
                                                "title": "BCC"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/NewIssuePublisherNotificationMessage",
                                            "name": "NewIssuePublisherNotificationMessage",
                                            "properties": {
                                                "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                                "recipients": {
                                                    "emails": [],
                                                    "users": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                                                    ]
                                                },
                                                "title": "New issue or comment"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/AccountClosedPublisher",
                                            "name": "AccountClosedPublisher",
                                            "properties": {
                                                "description": "The following email recipients and users will receive email notifications when developer closes his account",
                                                "recipients": {
                                                    "emails": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com"
                                                    ],
                                                    "users": []
                                                },
                                                "title": "Close account message"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/QuotaLimitApproachingPublisherNotificationMessage",
                                            "name": "QuotaLimitApproachingPublisherNotificationMessage",
                                            "properties": {
                                                "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                                "recipients": {
                                                    "emails": [],
                                                    "users": [
                                                        "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                                                    ]
                                                },
                                                "title": "Approaching subscription quota limit"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}": {
            "get": {
                "description": "Gets the details of the Notification specified by its identifier.",
                "operationId": "Notification_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Notification Name Identifier.",
                        "in": "path",
                        "name": "notificationName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "NotificationName",
                            "values": [
                                {
                                    "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                    "value": "RequestPublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                    "value": "PurchasePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                    "value": "NewApplicationNotificationMessage"
                                },
                                {
                                    "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                    "value": "BCC"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                    "value": "NewIssuePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when developer closes his account.",
                                    "value": "AccountClosedPublisher"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                    "value": "QuotaLimitApproachingPublisherNotificationMessage"
                                }
                            ]
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "RequestPublisherNotificationMessage",
                                "PurchasePublisherNotificationMessage",
                                "NewApplicationNotificationMessage",
                                "BCC",
                                "NewIssuePublisherNotificationMessage",
                                "AccountClosedPublisher",
                                "QuotaLimitApproachingPublisherNotificationMessage"
                            ]
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The response body contains the specified Notification.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The Resource definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type for API Management resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Notification details.",
                                    "properties": {
                                        "properties": {
                                            "description": "Notification entity contract properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "description": {
                                                    "description": "Description of the Notification.",
                                                    "type": "string"
                                                },
                                                "recipients": {
                                                    "description": "Recipient Parameter values.",
                                                    "properties": {
                                                        "emails": {
                                                            "description": "List of Emails subscribed for the notification.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "users": {
                                                            "description": "List of Users subscribed for the notification.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "title": {
                                                    "description": "Title of the Notification.",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "title"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notification"
                ],
                "x-ms-examples": {
                    "ApiManagementGetNotification": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "notificationName": "RequestPublisherNotificationMessage",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage",
                                    "name": "RequestPublisherNotificationMessage",
                                    "properties": {
                                        "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                        "recipients": {
                                            "emails": [
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/contoso@live.com",
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar!live",
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar@live.com"
                                            ],
                                            "users": [
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                                            ]
                                        },
                                        "title": "Subscription requests (requiring approval)"
                                    },
                                    "type": "Microsoft.ApiManagement/service/notifications"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Create or Update API Management publisher notification.",
                "operationId": "Notification_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Notification Name Identifier.",
                        "in": "path",
                        "name": "notificationName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "NotificationName",
                            "values": [
                                {
                                    "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                    "value": "RequestPublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                    "value": "PurchasePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                    "value": "NewApplicationNotificationMessage"
                                },
                                {
                                    "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                    "value": "BCC"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                    "value": "NewIssuePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when developer closes his account.",
                                    "value": "AccountClosedPublisher"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                    "value": "QuotaLimitApproachingPublisherNotificationMessage"
                                }
                            ]
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "RequestPublisherNotificationMessage",
                                "PurchasePublisherNotificationMessage",
                                "NewApplicationNotificationMessage",
                                "BCC",
                                "NewIssuePublisherNotificationMessage",
                                "AccountClosedPublisher",
                                "QuotaLimitApproachingPublisherNotificationMessage"
                            ]
                        }
                    },
                    {
                        "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
                        "in": "header",
                        "name": "If-Match",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification was successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The Resource definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type for API Management resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Notification details.",
                                    "properties": {
                                        "properties": {
                                            "description": "Notification entity contract properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "description": {
                                                    "description": "Description of the Notification.",
                                                    "type": "string"
                                                },
                                                "recipients": {
                                                    "description": "Recipient Parameter values.",
                                                    "properties": {
                                                        "emails": {
                                                            "description": "List of Emails subscribed for the notification.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "users": {
                                                            "description": "List of Users subscribed for the notification.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "title": {
                                                    "description": "Title of the Notification.",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "title"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notification"
                ],
                "x-ms-examples": {
                    "ApiManagementCreateNotification": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "notificationName": "RequestPublisherNotificationMessage",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage",
                                    "name": "RequestPublisherNotificationMessage",
                                    "properties": {
                                        "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                        "recipients": {
                                            "emails": [
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/contoso@live.com",
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar!live",
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar@live.com"
                                            ],
                                            "users": [
                                                "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                                            ]
                                        },
                                        "title": "Subscription requests (requiring approval)"
                                    },
                                    "type": "Microsoft.ApiManagement/service/notifications"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails": {
            "get": {
                "description": "Gets the list of the Notification Recipient Emails subscribed to a notification.",
                "operationId": "NotificationRecipientEmail_ListByNotification",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Notification Name Identifier.",
                        "in": "path",
                        "name": "notificationName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "NotificationName",
                            "values": [
                                {
                                    "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                    "value": "RequestPublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                    "value": "PurchasePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                    "value": "NewApplicationNotificationMessage"
                                },
                                {
                                    "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                    "value": "BCC"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                    "value": "NewIssuePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when developer closes his account.",
                                    "value": "AccountClosedPublisher"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                    "value": "QuotaLimitApproachingPublisherNotificationMessage"
                                }
                            ]
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "RequestPublisherNotificationMessage",
                                "PurchasePublisherNotificationMessage",
                                "NewApplicationNotificationMessage",
                                "BCC",
                                "NewIssuePublisherNotificationMessage",
                                "AccountClosedPublisher",
                                "QuotaLimitApproachingPublisherNotificationMessage"
                            ]
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The response body contains the Recipient Email collection subscribed to the notification.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Paged Recipient User list representation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Next page link if any.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Page values.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The Resource definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type for API Management resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Recipient Email details.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Recipient Email contract properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "email": {
                                                                "description": "User Email subscribed to notification.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "NotificationRecipientEmail"
                ],
                "x-ms-examples": {
                    "ApiManagementListNotificationRecipientEmails": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "notificationName": "RequestPublisherNotificationMessage",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com",
                                            "name": "contoso@live.com",
                                            "properties": {
                                                "email": "contoso@live.com"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications/recipientEmails"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar!live",
                                            "name": "foobar!live",
                                            "properties": {
                                                "email": "foobar!live"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications/recipientEmails"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com",
                                            "name": "foobar@live.com",
                                            "properties": {
                                                "email": "foobar@live.com"
                                            },
                                            "type": "Microsoft.ApiManagement/service/notifications/recipientEmails"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails/{email}": {
            "delete": {
                "description": "Removes the email from the list of Notification.",
                "operationId": "NotificationRecipientEmail_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Notification Name Identifier.",
                        "in": "path",
                        "name": "notificationName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "NotificationName",
                            "values": [
                                {
                                    "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                    "value": "RequestPublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                    "value": "PurchasePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                    "value": "NewApplicationNotificationMessage"
                                },
                                {
                                    "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                    "value": "BCC"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                    "value": "NewIssuePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when developer closes his account.",
                                    "value": "AccountClosedPublisher"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                    "value": "QuotaLimitApproachingPublisherNotificationMessage"
                                }
                            ]
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "RequestPublisherNotificationMessage",
                                "PurchasePublisherNotificationMessage",
                                "NewApplicationNotificationMessage",
                                "BCC",
                                "NewIssuePublisherNotificationMessage",
                                "AccountClosedPublisher",
                                "QuotaLimitApproachingPublisherNotificationMessage"
                            ]
                        }
                    },
                    {
                        "description": "Email identifier.",
                        "in": "path",
                        "name": "email",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recipient Email was successfully removed to the notification list."
                    },
                    "204": {
                        "description": "Recipient Email was successfully removed to the notification list."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "NotificationRecipientEmail"
                ],
                "x-ms-examples": {
                    "ApiManagementDeleteNotificationRecipientEmail": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "email": "contoso@live.com",
                            "notificationName": "RequestPublisherNotificationMessage",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {},
                            "204": {}
                        }
                    }
                }
            },
            "head": {
                "description": "Determine if Notification Recipient Email subscribed to the notification.",
                "operationId": "NotificationRecipientEmail_CheckEntityExists",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Notification Name Identifier.",
                        "in": "path",
                        "name": "notificationName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "NotificationName",
                            "values": [
                                {
                                    "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                    "value": "RequestPublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                    "value": "PurchasePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                    "value": "NewApplicationNotificationMessage"
                                },
                                {
                                    "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                    "value": "BCC"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                    "value": "NewIssuePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when developer closes his account.",
                                    "value": "AccountClosedPublisher"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                    "value": "QuotaLimitApproachingPublisherNotificationMessage"
                                }
                            ]
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "RequestPublisherNotificationMessage",
                                "PurchasePublisherNotificationMessage",
                                "NewApplicationNotificationMessage",
                                "BCC",
                                "NewIssuePublisherNotificationMessage",
                                "AccountClosedPublisher",
                                "QuotaLimitApproachingPublisherNotificationMessage"
                            ]
                        }
                    },
                    {
                        "description": "Email identifier.",
                        "in": "path",
                        "name": "email",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The Users is subscribed to receive the notification."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "NotificationRecipientEmail"
                ],
                "x-ms-examples": {
                    "ApiManagementHeadNotificationRecipientEmail": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "email": "contoso@live.com",
                            "notificationName": "RequestPublisherNotificationMessage",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "204": {}
                        }
                    }
                }
            },
            "put": {
                "description": "Adds the Email address to the list of Recipients for the Notification.",
                "operationId": "NotificationRecipientEmail_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Notification Name Identifier.",
                        "in": "path",
                        "name": "notificationName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "NotificationName",
                            "values": [
                                {
                                    "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                                    "value": "RequestPublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                                    "value": "PurchasePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                                    "value": "NewApplicationNotificationMessage"
                                },
                                {
                                    "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                                    "value": "BCC"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                                    "value": "NewIssuePublisherNotificationMessage"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when developer closes his account.",
                                    "value": "AccountClosedPublisher"
                                },
                                {
                                    "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                                    "value": "QuotaLimitApproachingPublisherNotificationMessage"
                                }
                            ]
                        },
[...]
